<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>CDN References</Title>
    <Author>https://github.com/Sector43/FabricSnippets</Author>
    <Description>Add Fabric CSS CDN link and JS script tag</Description>
    <Shortcut>fabCdn</Shortcut>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="html">
      <Value><![CDATA[<link rel='stylesheet' href='http://appsforoffice.microsoft.com/fabric/fabric-core/4.1.0/fabric.min.css'>
<link rel='stylesheet' href='https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.components.min.css'>
<script src='https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/js/fabric.min.js'></script>
]]></Value>
    </Code>
  </Snippet>
</CodeSnippet>